* {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     background-color: violet;
}

.container {
     display: flex;
}

.style {
     margin: 0% auto;
     margin-top: 40px;
}

button {
     margin: 0%;
     padding: 10px 100px;
     outline: none;
     display: flex;
     background-color: bisque;
     border: none;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
}

button:hover {
     color: whitesmoke;
     cursor: pointer;
     background-color: rgb(255, 110, 110);
}

#datatwo li {
     list-style-type: none;
     text-align: center;
     margin-top: 2%;
     transform: translateY(20px);
     font-size: 18px;
     font-family: serif;
}

#datathree li {
     list-style-type: none;
     text-align: center;
     margin-top: 2%;
     transform: translateY(20px);
     font-size: 18px;
     font-family: serif;
}

#data li {
     list-style-type: none;
     text-align: center;
     margin-top: 2%;
     transform: translateY(20px);
     font-size: 18px;
     font-family: serif;
}